
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@model List<Object>
@{ int i = 1; }
<h1>Quản lý thông tin sản phẩm</h1>
<br/>
<div class="table-responsive table-responsive-data2">
    <input type="button" class="btn btn-primary" value="THÊM SẢN PHẨM" onclick="location.href='@Url.Action("EnterSanPham", "SanPham")'" />
    <table class="table table-data2">
        <thead>
            <tr>
                <th>STT</th>
                <th>Mã SP</th>
                <th>Ảnh</th>
                <th>Tên</th>
                <th>Nhà sản xuất</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {

            <tbody>
                <tr class="tr-shadow">
                    <td>@i</td>
                    <td>
                        <span class="block-email">@item.GetType().GetProperty("MaSP").GetValue(item, null)</span>
                    </td>

                    <td><img class="img-rounded" height="100" src="~/image/tai-nghe-iphone-5.jpg" /></td>

                    <td class="desc">@item.GetType().GetProperty("TenSP").GetValue(item, null)</td>
                    <td>@item.GetType().GetProperty("TenNH").GetValue(item, null)</td>
                    <td>
                        <span class="status--process">@item.GetType().GetProperty("Gia").GetValue(item, null)</span>
                    </td>
                    <td>@item.GetType().GetProperty("SoLuongTon").GetValue(item, null)</td>
                    <td>
                        <div class="table-data-feature">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" id="@item.GetType().GetProperty("MaSP").GetValue(item, null)">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                            <a href="DeleteSanPham?Id=1">
                                <i class="zmdi zmdi-delete"></i>
                            </a>

                        </div>
                    </td>
                </tr>
            </tbody>
            i = i + 1;
        }
    </table>

</div>
