
<div class="main">
    <script src="https://use.fontawesome.com/7ffd9b0786.js"></script>
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="p-2 px-3 text-uppercase">Phụ kiện</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Giá</div>
                                    </th>

                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Số lượng</div>
                                    </th>
                                    <th scope="col" class="border-0 bg-light">
                                        <div class="py-2 text-uppercase">Xóa</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.cart)
                                {
                                    <tr>
                                        <th scope="row" class="border-0">
                                            <div class="p-2">
                                                <img src="/image/@item.SanPham.IMG" alt="" width="70" class="img-fluid rounded shadow-sm">
                                                <div class="ml-3 d-inline-block align-middle">
                                                    <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">@item.SanPham.TenSP</a></h5>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="border-0 align-middle"><strong>@item.SanPham.Gia</strong></td>
                                        <td class="border-0 align-middle"><strong>@item.Quantity</strong></td>
                                        <td class="border-0 align-middle"><a asp-controller="cart" asp-action="remove" asp-route-MaSP="@item.SanPham.MaSP">Remove</a></td>
                                    </tr>
                                }
                                <tr>
                                    <td class="text-muted">Total</td>
                                    <td class="font-weight-bold">@ViewBag.total</td>
                                </tr>
                            </tbody>
                        </table>
                        <a asp-controller="Product" asp-action="index">Continue Shopping</a>
                    </div><a asp-controller="Checkout" asp-action="Index" class="btn btn-dark rounded-pill py-2 btn-block">Thanh toán</a>
                </div>
            </div>
        </div>
    </div>
</div>




