
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}
@model IEnumerable<DoAnFW.Models.HoaDon>
@{ int i = 1; }
<div class="table-responsive table-responsive-data2">
    <table class="table table-data2">
        <thead>
            <tr>
                <th>STT</th>
                <th>Ngày lập</th>
                <th>Mã hóa đơn</th>
                <th>Mã người dùng</th>
                <th>Mã khách hàng</th>
                <th>Tổng giá</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {

            <tbody>
                <tr class="tr-shadow">
                    <td>@i</td>
                    <td>
                        <span class="block-email">@item.GetType().GetProperty("MaHD").GetValue(item, null)</span>
                    </td>
                    <td>
                        <span class="block-email">@item.GetType().GetProperty("MaHD").GetValue(item, null)</span>
                    </td>
                    <td class="desc">@item.GetType().GetProperty("MaKH").GetValue(item, null)</td>
                    <td>@item.GetType().GetProperty("NgayLap").GetValue(item, null)</td>
                    <td>
                        <span class="status--process">@item.GetType().GetProperty("TongGia").GetValue(item, null)</span>
                    </td>
                    <td>@item.GetType().GetProperty("TrangThai").GetValue(item, null)</td>
                    <td>
                        <div class="table-data-feature">
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" id="@item.GetType().GetProperty("MaHD").GetValue(item, null)">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                            <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </button>

                        </div>
                    </td>
                </tr>
            </tbody>
            i = i + 1;
        }
    </table>
</div>

