
@{
    ViewData["Title"] = "Home Page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/Home.css">
</head>
@{
    int i = 1;


}
<div class="container">
    <div class="content_1">
        <div class="column_1_1">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>



                <!-- Wrapper for slides -->



                <div class="carousel-inner">
                    @foreach (var product in ViewBag.products)
                    {
                        if (i == 1)
                        {
                            <div class="item active">
                                <img src="/image/@product.IMG" alt="" style="width:100%; height:100%;">
                                <div class="carousel-caption">
                                    <h3 asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@product.MaSP">@product.TenSP</h3>



                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <img src="/image/@product.IMG" alt="" style="width:100%; height:100%;">
                                <div class="carousel-caption">
                                    <h3 asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@product.MaSP">@product.TenSP</h3>



                                </div>
                            </div>
                        }
                        i = i + 1;
                    }



                </div>



                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- <div class="column_1_2">
            <p>Nhan phan</p>
        </div>
           -->
    </div>
    <div class="content_2">
        <div class="column_2_1">
            <img asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@ViewBag.top2products[0].MaSP " src="/image/@ViewBag.top2products[0].IMG" />
        </div>
        <div class="column_2_2">
            <span style="color: red; font-size:30px">New</span>



            <h2>



                @ViewBag.top2products[0].TenSP
            </h2>
            <div class="link-buy">
                <div class="button-buy">
                    <a asp-controller="Cart" asp-action="Buy" asp-route-MaSP="@ViewBag.top2products[0].MaSP">
                        Mua Ngay
                    </a>
                </div>
            </div>
            <a style="font-size:21px;" asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@ViewBag.top2products[0].MaSP">Xem chi tiết ></a>
        </div>

    </div>
    <div class="content_2a">



        <div class="column_2_2a">
            <span style="color: red; font-size:30px">New</span>



            <h2>
                @ViewBag.top2products[1].TenSP
            </h2>
            <p class="link-buy">
                <a asp-controller="Cart" asp-action="Buy" asp-route-MaSP="@ViewBag.top2products[1].MaSP">
                    Mua Ngay
                </a>
            </p>
            <a style="font-size:21px;" asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@ViewBag.top2products[1].MaSP">Xem chi tiết ></a>
        </div>
        <div class="column_2_1a">
            <img asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@ViewBag.top2products[1].MaSP" src="/image/@ViewBag.top2products[1].IMG" />
        </div>
    </div>
    <div class="content_3">

        <div class="column_3_1">
            <div class="row_3_1_1">
                <div class="js-product-title">
                    <div class="product-title">
                        <div class="img-product">
                            <img src="/image/@ViewBag.top5products[1].IMG" style="width:100%;height:100%;" />
                        </div>
                        <div class="product-content">
                            <p>@ViewBag.top5products[1].TenSP</p>
                        </div>
                        <div class="btn-buynow">
                            <p class="link-buy">
                                <a asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@ViewBag.top5products[1].MaSP">
                                    Mua ngay
                                </a>
                            </p>



                        </div>
                    </div>
                </div>



            </div>



            <div class="row_3_1_2">
                <div class="js-product-title">
                    <div class="product-title">
                        <div class="img-product">
                            <img src="/image/@ViewBag.top5products[2].IMG" style="width:100%;height:100%;" />
                        </div>
                        <div class="product-content">
                            <p>@ViewBag.top5products[2].TenSP</p>
                        </div>
                        <div class="btn-buynow">
                            <p class="link-buy">
                                <a asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@ViewBag.top5products[2].MaSP">
                                    Mua ngay
                                </a>
                            </p>



                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="column_3_2">
            <div class="js-product-title-1">
                <div class="product-title-1">
                    <div class="img-product-1">
                        <img class="img-column-2" src="/image/@ViewBag.top5products[0].IMG" style="width:100%;height:100%;" />
                    </div>
                    <div class="product-content-1">
                        <p>@ViewBag.top5products[0].TenSP</p>
                    </div>
                    <div class="btn-buynow-1">
                        <p class="link-buy-1">
                            <a asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@ViewBag.top5products[0].MaSP">
                                Mua ngay
                            </a>
                        </p>



                    </div>
                </div>
            </div>
        </div>
        <div class="column_3_3">
            <div class="row_3_3_1">
                <div class="js-product-title">
                    <div class="product-title">
                        <div class="img-product">
                            <img src="/image/@ViewBag.top5products[3].IMG" style="width:100%;height:100%;" />
                        </div>
                        <div class="product-content">
                            <p>@ViewBag.top5products[3].TenSP</p>
                        </div>
                        <div class="btn-buynow">
                            <p class="link-buy">
                                <a asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@ViewBag.top5products[3].MaSP">
                                    Mua ngay
                                </a>
                            </p>



                        </div>
                    </div>
                </div>
            </div>
            <div class="row_3_3_2">
                <div class="js-product-title">
                    <div class="product-title">
                        <div class="img-product">
                            <img src="/image/@ViewBag.top5products[4].IMG" style="width:100%;height:100%;" />
                        </div>
                        <div class="product-content">
                            <p>@ViewBag.top5products[4].TenSP</p>
                        </div>
                        <div class="btn-buynow">
                            <p class="link-buy">
                                <a asp-controller="ProductDetail" asp-action="Index" asp-route-MaSP="@ViewBag.top5products[4].MaSP">
                                    Mua ngay
                                </a>
                            </p>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












