
@model SanPham;
@{
    ViewData["Title"] = "Thông tin sản phẩm";
}



<head>
    <link rel="stylesheet" href="~/css/Product.css" />
</head>


<div class="main">
    <div class="namephone">
        <h1 id="name">
            @Model.TenSP
        </h1>
    </div>
    <hr>
    <div class="rowdetail">
        <div class="img-phone">
            <img class="img" src="~/image/@Model.IMG">
            <div class="quantity">
                <label> Số lượng:</label>
                <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
            </div>
        </div>
        <div class="price">
            <div class="cost">
                <h1 style="color:brown" class="cost-1" id="gia">@Model.Gia</h1>
                <div class="pg">
                    <div class="cs">
                        <a class="cost-2"> 120.000đ</a>
                    </div>
                    <div class="giamgia">
                        <b>Giảm giá 8%</b>
                    </div>
                </div>
            </div>
            <br />
            <div class="description">
                <p><b>Mô tả sản phẩm</b></p>
                <p>
                    @Model.MoTa
                </p>
            </div>
            <div class="button">
                <a id="buy" asp-controller="Checkout" asp-action="Index" asp-route-MaSP="@Model.MaSP">Mua ngay</a>
                <a id="add" asp-controller="Cart" asp-action="Buy" asp-route-MaSP="@Model.MaSP">Thêm vào giỏ hàng</a>
            </div>
        </div>
        <div class="table">
            <h4> Chi tiết sản phẩm</h4>
            <table>
                <tr>
                    <td id="a">
                        Tương thích:
                    </td>
                    <td>
                        @Model.TuongThich
                    </td>
                </tr>
                <tr>
                    <td id="a">
                        Jack cắm:
                    </td>
                    <td>
                        @Model.Jack_cam
                    </td>
                </tr>
                <tr>
                    <td id="a">
                        Công nghệ:
                    </td>
                    <td>
                        @Model.CongNghe
                    </td>
                </tr>
                <tr>
                    <td id="a">
                        Kích thước:
                    </td>
                    <td>
                        @Model.KichThuoc
                    </td>
                </tr>
                <tr>
                    <td id="a">
                        Trọng lượng:
                    </td>
                    <td>
                        @Model.TrongLuong
                    </td>
                </tr>
                <tr>
                    <td id="a">
                        Thương hiệu của:
                    </td>
                    <td>
                        Trung Quốc
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>



