

@model SanPham;
@{
    ViewData["Title"] = "Thông tin sản phẩm";
    var giamoi = Model.Gia * 1.08;
    string gia = String.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:0,0}", giamoi);
}




<head>
    <link rel="stylesheet" href="~/css/Product.css" />
</head>



<div class="main">
    <div class="namephone">
        <h1 id="name">
            @Model.TenSP
        </h1>
    </div>
    <hr>

    <div class="rowdetail">


        <form asp-action="AddToCart" asp-controller="Checkout">
            <div class="img-phone">
                <img class="img" src="~/image/@Model.IMG">
                <div class="quantity">
                    <label> Số lượng:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="10" value="1">
                    <input type="hidden" name="MaSP" value="@Model.MaSP">
                </div>
            </div>
            <div class="price">
                <div class="cost">
                    <h1 style="color:brown" class="cost-1" id="gia">@{string a = String.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:0,0}", Model.Gia);} @a</h1>
                    <div class="pg">
                        <div class="cs">
                            <a class="cost-2">@gia</a>
                        </div>
                        <div class="giamgia">
                            <b>Giảm giá 8%</b>
                        </div>
                    </div>
                </div>
                <br />
                <div class="description">
                    <p><b>Mô tả sản phẩm</b></p>
                    <p>
                        @Model.MoTa
                    </p>
                </div>
                <div class="button">
                    <button style="border-radius:30px; background-color:red" type="submit"><a id="buy">Mua ngay</a></button>
                    <a id="add" asp-controller="Cart" asp-action="Buy" asp-route-MaSP="@Model.MaSP">Thêm vào giỏ hàng</a>
                </div>


            </div>
        </form>
        <div class="table">
            <h4> Chi tiết sản phẩm</h4>
            <table>
                <tr>
                    <td id="a">
                        Tương thích:
                    </td>
                    <td>
                        @Model.TuongThich
                    </td>
                </tr>
                <tr>
                    <td id="a">
                        Jack cắm:
                    </td>
                    <td>
                        @Model.Jack_cam
                    </td>
                </tr>
                <tr>
                    <td id="a">
                        Công nghệ:
                    </td>
                    <td>
                        @Model.CongNghe
                    </td>
                </tr>
                <tr>
                    <td id="a">
                        Kích thước:
                    </td>
                    <td>
                        @Model.KichThuoc
                    </td>
                </tr>
                <tr>
                    <td id="a">
                        Trọng lượng:
                    </td>
                    <td>
                        @Model.TrongLuong
                    </td>
                </tr>
                <tr>
                    <td id="a">
                        Thương hiệu của:
                    </td>
                    <td>
                        @Model.MaNH;
                    </td>
                </tr>
            </table>
        </div>
    </div>



</div>





