@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Admin"] - DoAnFW</title>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="~/Admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/Admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Admin/css/theme.css" rel="stylesheet" media="all">
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="@Url.Action("Index", "Home")">
                            <img src="~/Admin/images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            @*---------------Moblie-----------------*@
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="@Url.Action("Index", "SanPham")">Sản Phẩm</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "HoaDon")">Hóa Đơn</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "KhachHang")">Khách Hàng</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Statistics")">Thống kê</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "SanPham")">
                                <i class="fa fa-headphones" aria-hidden="true"></i>Sản Phẩm
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "HoaDon")">
                                <i class="far fa-file"></i>Hóa đơn
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "KhachHang")">
                                <i class="fa fa-users" aria-hidden="true"></i>Khách Hàng
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "TonKho")">
                                <i class="fas fa-warehouse"></i>Kho Hàng
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Statistics")">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>Thống Kê Doanh Thu
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout","Home")">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>Đăng Xuất
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>



        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Admin/images/icon/logo.png" alt="Cool Admin" />
                </a>
                <h5 style="color:#999999" class="m-auto">QUẢN LÝ BÁN HÀNG</h5>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="@Url.Action("Index", "SanPham")">Sản Phẩm</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "HoaDon")">Hóa Đơn</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "KhachHang")">Khách Hàng</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Statistics")">Thống kê</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "SanPham")">
                                <i class="fa fa-headphones" aria-hidden="true"></i>Sản Phẩm
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "HoaDon")">
                                <i class="far fa-file"></i>Hóa đơn
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "KhachHang")">
                                <i class="fa fa-users" aria-hidden="true"></i>Khách Hàng
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "TonKho")">
                                <i class="fas fa-warehouse"></i>Kho Hàng
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Statistics")">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>Thống Kê Doanh Thu
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout","Home")">
                                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>Đăng Xuất
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">


                            @*<form class="form-header" action="" method="POST">
                                    <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                    <button class="au-btn--submit" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>*@
                            <div class="header-button ml-auto">
                                @*<div class="noti-wrap">
                                        <div class="noti__item js-item-menu">
                                            <i class="zmdi zmdi-comment-more"></i>
                                            <span class="quantity">1</span>
                                            <div class="mess-dropdown js-dropdown">
                                                <div class="mess__title">
                                                    <p>You have 2 news message</p>
                                                </div>
                                                <div class="mess__item">
                                                    <div class="image img-cir img-40">
                                                        <img src="~/Admin/images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                    </div>
                                                    <div class="content">
                                                        <h6>Michelle Moreno</h6>
                                                        <p>Have sent a photo</p>
                                                        <span class="time">3 min ago</span>
                                                    </div>
                                                </div>
                                                <div class="mess__item">
                                                    <div class="image img-cir img-40">
                                                        <img src="~/Admin/images/icon/avatar-04.jpg" alt="Diane Myers" />
                                                    </div>
                                                    <div class="content">
                                                        <h6>Diane Myers</h6>
                                                        <p>You are now connected on message</p>
                                                        <span class="time">Yesterday</span>
                                                    </div>
                                                </div>
                                                <div class="mess__footer">
                                                    <a href="#">View all messages</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noti__item js-item-menu">
                                            <i class="zmdi zmdi-email"></i>
                                            <span class="quantity">1</span>
                                            <div class="email-dropdown js-dropdown">
                                                <div class="email__title">
                                                    <p>You have 3 New Emails</p>
                                                </div>
                                                <div class="email__item">
                                                    <div class="image img-cir img-40">
                                                        <img src="~/Admin/images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                                    </div>
                                                    <div class="content">
                                                        <p>Meeting about new dashboard...</p>
                                                        <span>Cynthia Harvey, 3 min ago</span>
                                                    </div>
                                                </div>
                                                <div class="email__item">
                                                    <div class="image img-cir img-40">
                                                        <img src="~/Admin/images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                                    </div>
                                                    <div class="content">
                                                        <p>Meeting about new dashboard...</p>
                                                        <span>Cynthia Harvey, Yesterday</span>
                                                    </div>
                                                </div>
                                                <div class="email__item">
                                                    <div class="image img-cir img-40">
                                                        <img src="~/Admin/images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                                    </div>
                                                    <div class="content">
                                                        <p>Meeting about new dashboard...</p>
                                                        <span>Cynthia Harvey, April 12,,2018</span>
                                                    </div>
                                                </div>
                                                <div class="email__footer">
                                                    <a href="#">See all emails</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="noti__item js-item-menu">
                                            <i class="zmdi zmdi-notifications"></i>
                                            <span class="quantity">3</span>
                                            <div class="notifi-dropdown js-dropdown">
                                                <div class="notifi__title">
                                                    <p>You have 3 Notifications</p>
                                                </div>
                                                <div class="notifi__item">
                                                    <div class="bg-c1 img-cir img-40">
                                                        <i class="zmdi zmdi-email-open"></i>
                                                    </div>
                                                    <div class="content">
                                                        <p>You got a email notification</p>
                                                        <span class="date">April 12, 2018 06:50</span>
                                                    </div>
                                                </div>
                                                <div class="notifi__item">
                                                    <div class="bg-c2 img-cir img-40">
                                                        <i class="zmdi zmdi-account-box"></i>
                                                    </div>
                                                    <div class="content">
                                                        <p>Your account has been blocked</p>
                                                        <span class="date">April 12, 2018 06:50</span>
                                                    </div>
                                                </div>
                                                <div class="notifi__item">
                                                    <div class="bg-c3 img-cir img-40">
                                                        <i class="zmdi zmdi-file-text"></i>
                                                    </div>
                                                    <div class="content">
                                                        <p>You got a new file</p>
                                                        <span class="date">April 12, 2018 06:50</span>
                                                    </div>
                                                </div>
                                                <div class="notifi__footer">
                                                    <a href="#">All notifications</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@


                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image" style="margin-top: 10%;">
                                            <img src="~/Admin/images/icon/avatar-01.jpg" alt="@Context.Session.GetString("Name")" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">@Context.Session.GetString("Name")</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/Admin/images/icon/avatar-01.jpg" width="100" height="100" alt="@Context.Session.GetString("Name")" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">@Context.Session.GetString("Name")</a>
                                                    </h5>
                                                    <span class="email">@Context.Session.GetString("Username")</span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-account"></i>Tên : @Context.Session.GetString("Name")
                                                    </a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Tài Khoản : @Context.Session.GetString("Username")
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="@Url.Action("Logout","Home")">
                                                    <i class="zmdi zmdi-power"></i>Đăng xuất
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            <div class="main-content">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
                <!-- END PAGE CONTAINER-->
            </div>
        </div>


    </div>

    <!-- Jquery JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Admin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Admin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Admin/vendor/slick/slick.min.js">
    </script>
    <script src="~/Admin/vendor/wow/wow.min.js"></script>
    <script src="~/Admin/vendor/animsition/animsition.min.js"></script>
    <script src="~/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Admin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Admin/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Admin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Admin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Admin/vendor/select2/select2.min.js">
    </script>
    <!-- Main JS-->
    <script src="~/Admin/js/main.js"></script>
    <!--Bar Chart-->
    <script>
        //Doanh thu theo tháng
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Admin/Home/GetBarChart",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: data_arrive,
            })
        });
        function data_arrive(data) {
            var data_x = data[0];
            var data_y = data[1];
            var graph_data = {
                labels: data_x,
                datasets: [
                    {
                        label: "Doanh thu tháng ",
                        data: data_y,
                        borderColor: "rgba(0, 123, 255, 0.9)",
                        borderWidth: "0",
                        backgroundColor: "rgba(0, 123, 255, 0.5)",
                        fontFamily: "Poppins"
                    }
                ]
            }
            var ctx = document.getElementById("barChart");
            if (ctx) {
                ctx.height = 200;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    defaultFontFamily: 'Poppins',
                    data: graph_data,
                    options: {
                        legend: {
                            position: 'top',
                            labels: {
                                fontFamily: 'Poppins'
                            }

                        },
                        scales: {
                            xAxes: [{
                                ticks: {
                                    fontFamily: "Poppins"

                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    fontFamily: "Poppins"
                                }
                            }]
                        }
                    }
                });
            }

        }
    </script>

    <script>
        //Doanh thu theo ngày
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Admin/Home/GetLineChart",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: data_arriv,
            })
        });
        function data_arriv(data) {
            var data_x = data[0];
            var data_y = data[1];
            var graph_data = {
                labels: data_x,
                datasets: [
                    {
                        label: "Doanh thu ngày",
                        data: data_y,
                        borderColor: "rgba(0, 123, 255, 0.9)",
                        borderWidth: "0",
                        backgroundColor: "rgba(0, 123, 255, 0.5)",
                        fontFamily: "Poppins"
                    }
                ]
            }
            var ctx = document.getElementById("team-chart");
            if (ctx) {
                ctx.height = 200;
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: graph_data,
                    options: {
                        responsive: true,
                        tooltips: {
                            mode: 'index',
                            titleFontSize: 12,
                            titleFontColor: '#000',
                            bodyFontColor: '#000',
                            backgroundColor: '#fff',
                            titleFontFamily: 'Poppins',
                            bodyFontFamily: 'Poppins',
                            cornerRadius: 3,
                            intersect: false,
                        },
                        legend: {
                            display: false,
                            position: 'top',
                            labels: {
                                usePointStyle: true,
                                fontFamily: 'Poppins',
                            },


                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                gridLines: {
                                    display: false,
                                    drawBorder: false
                                },
                                scaleLabel: {
                                    display: false,
                                    labelString: 'Month'
                                },
                                ticks: {
                                    fontFamily: "Poppins"
                                }
                            }],
                            yAxes: [{
                                display: true,
                                gridLines: {
                                    display: false,
                                    drawBorder: false
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Value',
                                    fontFamily: "Poppins"
                                },
                                ticks: {
                                    fontFamily: "Poppins"
                                }
                            }]
                        },
                        title: {
                            display: false,
                        }
                    }
                });
            }
        }
    </script>
    <script>
        //pie chart thóng kê sản phẩm bán ra
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Admin/Home/GetPieChart",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: data_arr,
            })
        });
        function data_arr(data) {
            var data_xp = data[0];
            var data_yp = data[1];
            //polar
            var ctxPA = document.getElementById("Top5Products");
            ctxPA.height = 400;
            var myPolarChart = new Chart(ctxPA, {
                type: 'polarArea',
                data: {
                    labels: data_xp,
                    datasets: [{
                        data: data_yp,
                        backgroundColor: ["rgba(219, 0, 0, 0.5)", "rgba(0, 165, 2, 0.5)", "rgba(255, 195, 15, 0.5)",
                            "rgba(55, 59, 66, 0.5)", "rgba(0, 0, 0, 0.7)"
                        ],
                        hoverBackgroundColor: ["rgba(219, 0, 0, 0.7)", "rgba(0, 165, 2, 0.7)",
                            "rgba(255, 195, 15, 0.7)", "rgba(55, 59, 66, 0.7)", "rgba(0, 0, 0, 0.8)"
                        ]
                    }]
                },
                options: {
                    responsive: true
                }
            });

        }
    </script>


    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Admin/Home/GetQuarterChart",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: data_ar,
            })
        });
        function data_ar(data) {
            var data_name = data[0];
            var data_value = data[1];


            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data_name,
                    datasets: [{
                        label: 'Quý',
                        data: data_value,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(54, 162, 235, 0.6)',
                            'rgba(255, 206, 86, 0.6)',
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(153, 102, 255, 0.6)',
                            'rgba(255, 159, 64, 0.6)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
    </script>
</body>

</html>
